@page "/DeleteContact/{CurrentID}"
@using ContactApplication.Data
@inject ContactService objContactService
@inject NavigationManager NavigationManager

<h2>Delete Contact</h2>
<hr />
<h3>Are you sure you want to delete this contact?</h3>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label>Id:</label>
            <label>@contact.Id</label>
        </div>
        <div class="form-group">
            <label>First Name:</label>
            <label> @contact.FirstName</label>
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <label> @contact.LastName</label>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <label>@contact.PhoneNumber</label>
        </div>
        <div class="form-group">
            <label>Birth Date:</label>
            <label>@contact.BirthDate</label>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string CurrentID { get; set; }
    Contact contact = new Contact();

    protected override async Task OnInitializedAsync()
    {
        contact = await Task.Run(() => objContactService.GetContactById(Convert.ToInt32(CurrentID)));

    }

    protected void Delete()
    {
        objContactService.DeleteContact(contact);
        NavigationManager.NavigateTo("Contacts");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Contacts");
    }

}